* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    background-color: #222;
    display: flex;
    align-items: center;
    height: 75px;
    justify-content: space-between;
}

.header_search {
    margin-left: 41px;
}

.header_account {
    margin: 0 34px;
}

.top {
    display: flex;
}

.top_left {
    background-color: rgba(113, 103, 105, 0.08);
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.top_img {
    display: block;
    max-width: 100%;
}

.top_right {
    background-color: #F1E4E6;
    width: 100%;
    display: flex;
}

.top_content {
    color: #222222;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-left: 64px;
    align-self: center;
}

.top_heading {
    font-size: 48px;
    line-height: 58px;
    font-weight: 800;
}

.top_text {
    font-size: 32px;
    font-weight: 600;
}

.top_text span {
    color: #F16D7F;
}

.offer {
    padding-top: 63px;
}

.offer_group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.offer_card {
    position: relative;
}

.offer_card:not(:last-child) {
    margin-right: 30px;
}

.offer_img {
    width: 100%;
}

.offer_text {
    position: absolute;
    text-align: center;
    top: 105px;
}

.offer_text-left-1 {
    left: 103px;
}

.offer_text-left-2 {
    left: 125px;
}

.offer_text-left-3 {
    left: 123px;
}

.offer_text-white {
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}

.offer_text-pink {
    color: #F16D7F;
    font-size: 22px;
    font-weight: 600;
}

.offer_card_bottom {
    position: relative;
}

.offer_text_bottom {
    position: absolute;
    top: 65px;
    left: 490px;
    text-align: center;
}

.goods {
    padding-top: 97px;
    text-align: center;
    padding-bottom: 95px;
}

.goods_heading {
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    font-weight: 500;
    margin-bottom: 6px;
}

.goods_text {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.goods_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 48px;
}

.item {
    background-color: #F8F8F8;
    width: 360px;
    position: relative;
}

.item:hover .item_img {
    filter: brightness(40%);
}

.item:hover .item_add {
    display: flex;
}

.item_img {
    width: 100%;
}

.item_add {
    position: absolute;
    top: 188px;
    left: 111px;
    color: #fff;
    display: none;
    border: 1px solid #fff;
    padding: 10px 13px;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    justify-content: center;
}

.item_add:hover {
    box-shadow: 0 0 5px #fff;
}

.item_add img {
    margin-right: 11px;
}

.item_description {
    text-align: left;
    padding: 24px 18px 20px;
}

.item_heading {
    font-size: 13px;
    line-height: 16px;
    color: #000;
    margin-bottom: 13px;
}

.item_text {
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-bottom: 18px;
    font-weight: 300;
}

.item_price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.item-mb {
    margin-bottom: 30px;
}

.goods_button {
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: 1px solid #FF6A6A;
    padding: 14px 38px;
    margin-top: 48px;
}

.goods_button:hover {
    background-color: #F16D7F;
    color: #fff;
}

.advantages {
    background-color: #222224;
    display: flex;
    padding-top: 103px;
    padding-bottom: 104px;
}

.advantages_points {
    display: flex;
    justify-content: space-between;
}

.point {
    max-width: 360px;
    text-align: center;
}

.point_img {
    margin-bottom: 28px;
}

.point_heading, .point_text {
    color: #FBFBFB;
}

.point_heading {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 16px;
}

.point_text {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
}

.footer_top {
    background-image: url("img/footer_back.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 97px;
    height: 448px;
}

.footer_top-right {
    text-align: center;
    max-width: 360px;
}

.footer_img {
    margin-bottom: 30px;
}

.footer_top-text {
    font-size: 20px;
    line-height: 24px;
    color: #222224;
}

.footer_top-left {
    text-align: center;
}

.subscribe_heading {
    font-size: 24px;
    line-height: 40px;
    color: #222224;
}

.subscribe_text {
    font-weight: 500;
    font-size: 17px;
}

.subscribe_form {
    margin-top: 32px;
    position: relative;
}

.subscribe_input, .subscribe_button {
    font-size: 14px;
    line-height: 17px;
}

.subscribe_input {
    background-color: #E1E1E1;
    border: none;
    border-radius: 50px;
    padding: 15px 22px;
    width: 328px;
    outline: none;
}

.subscribe_button {
    position: absolute;
    color: #fff;
    background-color: #F16D7F;
    padding: 15px 17px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    left: 233px;
}

.subscribe_button:hover {
    background-color: #E05C6E;
}

.footer_bottom {
    background-color: #222224;
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_copy {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.footer_social {
    display: flex;
}

.social_link:not(:last-child) {
    margin-right: 7px;
}

.social_link:hover .social_img path {
    fill: #fff;
}

.social {
    background-color: #fff;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
}

.social:hover {
    background-color: #F16D7F;
}

.social_img {
    align-self: center;
}

/* ---CATALOG--- */

.catalog_top {
    background-color: #F8F3F4;
    height: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog_top-heading {
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    font-weight: 400;
}

.catalog_top-text {
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    font-weight: 300;
}

.link-brown {
    color: #636363;
    font-weight: 300;
}

.link-pink {
    color: #F16D7F;
    font-weight: 600;
}

.catalog_goods {
    padding-top: 51px;
    padding-bottom: 96px;
}

.goods_filter {
    display: flex;
}

.filter {
    position: relative;
}

.filter_content {
    display: flex;
    align-items: center;
}

.filter:hover .filter_text {
    color: #EF5B70;
}

.filter:hover .filter_img{
    fill: #EF5B70;
}

.filter:hover .filter_open {
    display: block;
}

.filter_text, .choise {
    font-size: 14px;
    line-height: 17px;
}

.filter_text {
    font-weight: 600;
    color: #000000;
    margin-right: 11px;
}

.filter_open {
    display: none;
    position: absolute;
    top: 10px;
    left: 0;
}

.filter_choise {
    display: flex;
    margin-left: 320px;
}

.choise_link {
    margin-right: 28px;
}

.choise {
    color: #6F6E6E;
    display: flex;
}

.choise_arrow {
    margin-left: 10px;
}

.pages {
    border: 1px solid #EBEBEB;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 283px;
    height: 43px;
    margin: 48px auto 0;
}

.page_number {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #cccccc;
    margin-right: 18px;
}

.page_1 {
    color: #EF5B70;
    margin-left: 18px;
}

/* ---CATALOG--- */

/* ---PRODUCT--- */

